@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');

h1 {
	font-family:"Lato";
	font-style: normal;
	color: #1E212C;
	font-weight: 900;
	font-size: 46px;
	line-height: 130%;
	align-items: center;
	margin-left: 345px;
	margin-bottom: 15px;
}

img {
    margin-left: 345px;
	margin-bottom: 60px;
}

div.text1 {
	font-family: 'Lato';
	color: #1E212C;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 150%;
	margin-left: 345px;
	margin-bottom: 26px;   
}

div.chapter {
	font-family: 'Lato';
	color: #424551;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
	width: 810px;
	height: 182px;
	margin-left: 345px;
	margin-bottom: 43px;
}

div.text2 {
	font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 150%;
	width: 792px;
	height: 128px;
	margin-left: 345px;
	padding-left: 44px;
	margin-bottom: 64px;
}

div.chapter2 {
	font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
	width: 810px;
	height: 52px;
	margin-left: 345px;
	margin-bottom: 48px;
}

div.chapter3 {
	font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
	width: 600px;
	height: 116px;
	margin-left: 345px;
	padding-left: 32px;
	margin-bottom: 24px;
}

div.chapter4 {
	font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
	width: 810px;
	height: 104px;
	margin-left: 335px;
	margin-bottom: 200px;
	
}
div.container {
	font-family: "Dancing Script";
	font-style: italic;
	color: aqua;
	background-color:brown ;
	font-weight: 700;
	font-size: 50px;
	width: 800px;
	margin-left: 300px;
	padding: 50px;
	text-shadow:  2px 2px 10px #1E212C;
	overflow: auto;
	border: 20px double  #7FFFD4 ;
	margin-bottom: 100px;
}

div.section {
	font-family: "Permanent Marker";
	color: #00FF7F;
	text-shadow: 5px 5px 10px #FFD700;
	background-color: #2F4F4F;
	font-size: 30px;
	width: 1000px;
	margin-left: 600px;
	padding: 15px;
	border-radius: 50px;
	border:30px dashed #ADFF2F;
	opacity: 0.9;
	margin-bottom: 50px;
	
}

.button {
	font-family: "Bangers";
	color: whitesmoke;
	background-color: black;
	font-size: 50px;
	margin-left: 100px;
	border-radius: 20px;
	box-shadow: 0 5px 0 red;
	transition: all 0.3s ease 0s;	
}

.button:hover{
	margin-top: 3px;
	box-shadow: 0 5px 0 yellowgreen;
}

